<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="favicon.png">
    <meta name="theme-color" content="#db0000">
    <link rel="apple-touch-icon" href="src/public/icons/icon-128x128.png">
    <link rel="manifest" href="manifest.json">
    <title>Jajan Antari | Restaurant Apps</title>
</head>

<body>
    <a href="#list-product" class="skip-link">Menuju ke List</a>
    <nav-app></nav-app>
    <div id="main"></div>
    <footer-app></footer-app>
</body>

</html>